{% extends 'base.html' %}{% block content%}


<!--Section heading-->
<h2 class="h1-responsive font-weight-bold text-center my-4">Live Face Detection Web App</h2>
<br>
<br>
<br>
<div class="row">
  <div class="col-9">
    <div class="container" style="width: 105rem;">
    
      <div class="alert alert-success" style="color: black;" role="alert">
        
        <h4 class="alert-heading">Project Details!</h4>
        <p>It is one of a multi-factor user authentication systems, face recognition app. The app uses biometrics to verify identities and enables individuals to log into various supported websites and apps with face identification.  <hr>
        <p class="mb-0"><li>Python</li><li>Computer Vision</li><li>Flask</li><li>Harcascade Algorithm</li></p>
    
      </div>
      
    </div>     
</div>
<div class="col-2" >
  <div class="container" style="color: cadetblue;" >
  <div class="card" style="width: 25rem;">
    <div class="card-body" >
      <h5 class="card-title">Live Face Detection</h5>
      <h6 class="card-subtitle mb-4 text-muted">Is it Interesting?</h6>
      <img src="https://i.postimg.cc/nz3DKPLw/face-recognition.png"  width="140" height="140"  alt="">  

    </div>
  </div>
  </div>
</div>
</div>
</div>


{% endblock %}