{% extends 'base.html' %}

{% block content%}

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Live Face Detection Web App</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
      a matter of hours to help you.</p>

      <div class="row">
        <div class="col-9">
          <div class="container" style="width: 105rem;">
          
            <div class="alert alert-warning" style="color: black;" role="alert">
              
              <h4 class="alert-heading">Contact Us!</h4>
              <p>Hi there! My name is Mahzaib Khalid. I am a student of BSCS at UMT Lahore. I have designed this basic Live Face Detection Web Application. Feel Free to Contact us!</p>
              <hr>
              <p class="mb-0"><li>Email: mahzaibkhalid235@gmail.com</li><li>Whatsapp: +923120736390</p>
          
            </div>
            
          </div>     
      </div>
      <div class="col-2" >
        <div class="container" style="color: cadetblue;" >
        <div class="card" style="width: 25rem;">
          <div class="card-body" >
            <h5 class="card-title">Designed By:</h5>
            <h6 class="card-subtitle mb-4 text-muted">Mahzaib Khalid</h6>
            <img src="https://i.postimg.cc/MKk3srs7/275551152-3240656589497173-5164017116599899911-n.jpg" class="rounded-circle" alt="Cinque Terre" width="140" height="140"  alt="">  
      
          </div>
        </div>
        </div>
      </div>
      </div>
      </div>
        
  




{% endblock %}